@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&display=swap');

@theme {
  --font-family-body: 'Noto Sans JP', sans-serif;

   /* ブレークポイントを CSS 変数で定義 */
   --breakpoint-xs: 0px;
   --breakpoint-sm: 600px;
   --breakpoint-md: 900px;
   --breakpoint-lg: 1200px;
   --breakpoint-headerlg: 1250px;  /* カスタムブレークポイント */
   --breakpoint-xl: 1536px;
   --breakpoint-xxl: 1920px;      /* カスタムブレークポイント */

   /* テキストカラー */
  --color-text-primary: #E8E6E3; /* #E8E6E3 in RGB */

  /* プライマリカラーパレット */
  --color-primary-main: #212121;     /* #212121 */
  --color-primary-dark: 255 196 0;    /* #FFC400 */

  /* セカンダリカラーパレット */
  --color-secondary-main: 0 150 136;  /* #009688 */
  --color-secondary-dark: 128 203 196; /* #80CBC4 */

  /* 背景色 */
  --color-background-default: #212121; /* #212121 */

  /* エラーカラー */
  --color-error-main:#EF9A9A ;    /* #EF9A9A */

 
}





*,
*::before,
*::after {
    @apply box-border;
}
body {
  @apply bg-background-default text-text-primary;

}